default: &default
  adapter: postgresql
  user: ping_stats
  password: 123456
  host: postgres
  port: 5432
  schema_search_path: public
  encoding: utf8
  max_connections: 10
development:
  <<: *default
  database: ping_stats

test:
  <<: *default
  database: ping_stats_test